<div class="main-container">
  <div class="form-container">
    <div class="form-header">
      <h2>Sign up</h2>
      <p>Crea una cuenta para comprar tus boletas</p>
    </div>
    <div class="form">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
        <%= f.error_notification %>
            <%= f.input :name,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "name" },
                        class: "form-input"
                        %>
          <div class="form-input">
            <%= f.input :last_name,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "last_name" }%>
          </div>
          <div class="form-input">
            <%= f.input :identification_number,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "identification_number" }%>
          </div>
          <div class="form-input">
            <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          </div>
          <div class="form-input">
            <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          </div>
          <div class="form-input">
            <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
          </div>
          <div class="form-input">
            <%= f.input :photo, as: :file %>
          </div>
          <div class="form-input">
            <%= f.button :submit, "Sign up", class: "button-sign-up" %>
          </div>
      <% end %>
    </div>
  </div>
  <%= render "devise/shared/links" %>
</div>
