<div class="card-container" style=" display:flex; flex:row;">
    <div class="card-container-background">
    <div class="card-event">
      <div class="card-photo-title">
          <% if @event.photo %>
           <%= cl_image_tag @event.photo.key, class:"card-event-photo"%>
          <% end %>
        <h2><%= link_to @event.event_name, edit_event_path(@event), class:"card-event-title" %></h2>
      </div>
      <div class="card-description-content">
        <div class="card-description">
          <div class="description"><%= @event.event_date %></div>
          <div class="description"><%= @event.address %></div>
          <div class="price">$<%= @event.event_price %></div>
        </div>
        <% if user_signed_in? %>
          <div class="btn-spacing">
            <button type="button" class="btn-buy">
            <h2><%= link_to "BUY", new_event_order_path(@event), class:"btn-text"%></h2>
          </div>
        <% else %>
          <h2>Log in to buy your tickets</h2>
        <% end %>
      </div>
    </div>
  </div>
