<nav class="navbar-container sticky-top">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon .navbar-expand{-sm|-md|-lg|-xl}">

    <div class="container-fluid">

      <div class="col">
        <div class="logo-domain">
          <div class="logo-stadium">
            <%= link_to root_path do %>
              <%= image_tag 'https://res.cloudinary.com/dbnrwssis/image/upload/v1666466796/crowd/crowd-logo_y6dups.png', class: "png" %>
            <% end %>
          </div>
        </div>
      </div>


          <ul class="navbar-nav me-auto">
            <%if user_signed_in? %>

              <li class="nav-item dropdown">

                <% if current_user.photo.present? %>
                  <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle rounded-circle border border-2", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <% else %>
                <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://thumbs.dreamstime.com/z/default-avatar-profile-icon-vector-user-image-179582665.jpg" />
                <% end %>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown collapsibleNavbar">
                  <%= link_to "Profile", pages_profile_path, class: "dropdown-item" %>
                  <%= link_to "Events", events_path, class: "dropdown-item" %>
                  <%= link_to "Orders", orders_path, class: "dropdown-item" %>
                  <% if current_user.admin? %>
                    <%= link_to "Create event", new_event_path, class: "dropdown-item" %>
                  <% end %>
                  <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
  </div>
</nav>
