<!--/events or event#index-->

<div class="parallax-section3 parallax3">
  <div class="grid grid-pad">
      <div class="col-1-1" style="vertical-align= center;">
            <div class="content content-header" >
              <h1 style="text-align: center;">Events</h1>
          </div>
      </div>
  </div>
</div>

<svg class="curveUpColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
  <path d="M0 100 C 20 0 50 0 100 100 Z"></path>
</svg>

<div class="container-form m-2">

  <div class="search-bar m-4">
    <%= form_tag(search_path, :method => "get") do %>
    <div class="input-group">
      <%= search_field_tag :search, params[:search], placeholder: "Search your event...", class: "form-control"%>
      <div class="input-group-btn">
        <%= button_tag(type: "button", class: "btn btn-primary") do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search color-white" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>

  <div class="card-group">
    <div class="row row-cols-3">
      <% if @events %>
        <% @events.each do |event| %>
      <div class="card col card-container-bg">
        <div class="card-event">
          <div class="col-8">
            <% if event.photo %>
              <%= cl_image_tag event.photo.key, class:"card-event-photo-index"%>
            <% end %>
            <h5 class="card-title card-event-title"><%= link_to event.event_name, event_path(event.id)  %></h5>
          </div>
          <div class="col-4">
            <p class="card-details card-details-text"><%= event.event_date %></p>
            <p class="card-details card-details-text"><%= event.address%></p>
          </div>
        </div>
      </div>
        <% end %>
      <% end %>
    </div>

    </div>


  </div>
        <div class= "map-index" data-controller="map"
            id='map'
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
            data-map-markers-value="<%= @markers.to_json %>"
            <%# style='width: 60%; height: 400px;'> %>>
        </div>
  </div>

</div>

<svg class="curveDownColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
  <path d="M0 0 C 50 100 80 100 100 0 Z"></path>
</svg>
