<h1 class="mx-width"><%= link_to @event.event_name, edit_event_path(@event) %></h1>
<div class="container">

    <div class="row align-items-start">
      <div class="col bg-secondary">
        <p> Boletas para <%=@event.event_name %> </p>
        <p> Fecha: <%=@event.event_date %> </p>
        <p> Lugar: <%=@event.address %> </p>
        <p> Aforo: <%=@event.event_capacity %> </p>
        <p> Precio:<%= @event.event_price %> </p>
      </div>
  <div class="event-container" style=" display:flex; flex:row;">
    <div class="card-container-background">
    <div class="card-event">
      <div class="card-photo-title">
          <% if @event.photo %>
           <%= cl_image_tag @event.photo.key, class:"card-event-photo"%>
          <% end %>
        <h2><%= link_to @event.event_name, edit_event_path(@event), class:"card-event-title" %></h2>
      </div>
      <div class="card-description-content">
        <div class="card-description">
          <div class="description"><%= @event.event_date %></div>
          <div class="description"><%= @event.address %></div>
          <div class="price">$<%= @event.event_price %></div>
        </div>
        <% if user_signed_in? %>
          <div class="btn-spacing">
            <button type="text-center" class="button-sign-up">
            <h2><%= link_to "BUY", new_event_order_path(@event), class:"btn-text"%></h2>
            </button>
          </div>
        <% else %>
          <h2>Log in to buy tickets</h2>
        <% end %>
      </div>
    </div>

    </div>
        <div data-controller="map"
          id='map'
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
          data-map-markers-value="<%= @markers.to_json %>"
          style='width: 500px; height: 400px;'>
      </div>
  </div>

  <%#= simple_form_for [@event, @event.tickets.build] do |f| %>
    <%#= f.input :ticket_price %>
    <%#= f.button :submit %>
  <%# if user_signed_in? %>
    <!--<h1><%#= link_to "Buy tickets", new_event_order_path(@event) %></h1>
  <%# else %>
    <h1>Log in to buy tickets</h1>
  <%# end %>
  <%# end %>
</div>-->
