<h1 class="mx-width"><%= link_to @event.event_name, edit_event_path(@event) %></h1>
<div class="container">

    <div class="row align-items-start">
      <div class="col bg-secondary">
        <p> Boletas para <%=@event.event_name %> </p>
        <p> Fecha: <%=@event.event_date %> </p>
        <p> Lugar: <%=@event.event_location %> </p>
        <p> Aforo: <%=@event.event_capacity %> </p>
        <p> Precio:<%= @event.event_price %> </p>
      </div>

  <h1><%=  @event.event_name %></h1>
  <% if @event.photo %>
    <%= cl_image_tag @event.photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
  <ul>
    <li>Date: <%= @event.event_date %></li>
    <li>Location: <%= @event.event_location %></li>
    <li>Price:<%= @event.event_price %></li>
  </ul>

  <% if user_signed_in? %>
    <h1><%= link_to "Buy tickets", new_event_order_path(@event) %></h1>
    <% if current_user.admin? %>
      <h1><%= link_to "Edit event", edit_event_path(@event) %></h1>
    <% end %>
  <% else %>
    <h1>Log in to buy tickets</h1>
  <% end %>
<%= link_to "Back", events_path %>

</div>

  <%#= simple_form_for [@event, @event.tickets.build] do |f| %>
    <%#= f.input :ticket_price %>
    <%#= f.button :submit %>
  <%# if user_signed_in? %>
    <!--<h1><%#= link_to "Buy tickets", new_event_order_path(@event) %></h1>
  <%# else %>
    <h1>Log in to buy tickets</h1>
  <%# end %>
  <%# end %>
</div>-->
