<div class="container-form m-4">

  <h1>event#show</h1>
  <p>Find mi in app/views/events/show</p>

  <h1><%= link_to @event.event_name, edit_event_path(@event) %></h1>
  <% if @event.photo %>
    <%= cl_image_tag @event.photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>



  <%= simple_form_for [@event, @event.tickets.build] do |f| %>
    <%= f.input :ticket_price %>
    <%= f.button :submit %>
  <% end %>

</div>
