<div class="parallax-section4 parallax-event">
  <div class="grid grid-pad">
      <div class="col-1-1" style="vertical-align= center;">
            <div class="content content-header">
              <h1 class="mx-width">YOUR ORDERS</h1>
          </div>
      </div>
  </div>
</div>

<svg class="curveUpColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
  <path d="M0 100 C 20 0 50 0 100 100 Z"></path>
</svg>

<div class="container container-fluid">
  <div class="row" style="grid-gap:0 !important; padding: 1% !important;">
    <div class="row" style="grid-gap: 0!important; padding: 1% !important; align-items:center !important; border: 3px solid #dee3e4; border-radius: 18px;">

      <% @orders.each do |order| %>
      <div class="col-sm" style="vertical-align: middle !important;">
        <div class="row row-cols-2" style="grid-gap:0 !important; padding: 1% !important;">
          <div class="col-sm"><a style="color: grey !important; text-align: center;"><strong>Event:</strong></a></div>
          <div class="col-sm"><%= order.tickets.first.event.event_name %></div>
          <div class="col-sm"><a style="color: grey !important; text-align: center;"><strong>Tickets:</strong></a></div>
          <div class="col-sm"><%= order.tickets_quantity %></div>
          <div class="col-sm"><a style="color: grey !important; text-align: center;"><strong>Purchased:</strong></a></div>
          <div class="col-sm"><%= order.created_at.to_date %></div>
        </div>
      </div>

      <div class="col-sm">
        <h2 style="margin-bottom: 0px; text-align: center !important;">$ <%= order.total_price %></h2>
        <li style="color: #b2208e !important; !important; text-align: center !important;"><strong>TOTAL AMOUNT</strong></li>
        <h2 style="margin-top: 0px; text-align: center !important;"><%= link_to "Go to Tickets", order_tickets_path(order), class: "btn btn-event" %></h2>
      </div>
      <% end %>

    </div>
  </div>
</div>

</div>
<svg class="curveDownColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
  <path d="M0 0 C 50 100 80 100 100 0 Z"></path>
</svg>
