<div class="container bg-dark">
  <h1>Order summary</summary></h1>
  <ul>
    <p>Event: <%= @order.tickets.first.event.event_name %></p>
    <p>Date: <%= @order.tickets.first.event.event_date %></p>
    <p>Amount: <%= @order.tickets.count %></p>
    <p>Price: $<%= @order.tickets.first.ticket_price %></p>
  </ul>
  <h1>Total: $<%= @order.total_price %></h1>
  <div class="text-center">
    <p class="btn btn-primary">Go to pay</p>
  </div>
</div>
